<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}Auctions{% endblock %}</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">-->
    </head>
    <body>
        <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
            <a href="{% url 'index' %}" class="text-lg font-semibold"> Auctions </a>
            <div class="space-x-6">

                <a class="text-lg font-semibold hover:text-gray-400" href="{% url 'index' %}">Active Listings</a>
                <a class="text-lg font-semibold hover:text-gray-400" href="{% url 'categories' %}">Categories</a>
                {% if user.is_authenticated %}
                <a class="text-lg font-semibold hover:text-gray-400" href="{% url 'watchlist' %}">Watchlist</a>
                <a class="text-lg font-semibold hover:text-gray-400" href="{% url 'new_auction' %}"> Create Auction </a>
                <a class="px-6 py-3 text-lg font-semibold bg-gray-400 text-white hover:text-gray-600 rounded-xl" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a class="px-6 py-3 text-lg font-semibold bg-emerald-500 text-white hover:text-emerald-700 rounded-xl" href="{% url 'login' %}">Log In</a>
                <a class="px-6 py-3 text-lg font-semibold bg-cyan-500 text-white hover:text-cyan-700 rounded-xl" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </nav>

        <div class="px-6 py-6">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="px-6 py-6 flex justify-between bg-gray-700 ">
            <div class="w=2/3 pr-10">
                <h3 class="mb-5 font-semibold text-gray-300">About</h3>

                <p class="text-sm font-semibold text-gray-300">Auctions Ltd</p>
                <p class="text-sm font-semibold text-gray-300"> Kyiv, Victory, 2a </p>
                <p class="text-sm font-semibold text-gray-300">Tel: 065 323 33 88</p>
            </div>
            <div class="w=1/3">
                <h3 class="mb-5 font-semibold text-gray-300">Menu</h3>
                <ul class="space-y-1">
                <li><a href="#" class="text-sm font-semibold text-emerald-200 hover:text-emerald-600">About</a></li>
                <li><a href="#" class="text-sm font-semibold text-emerald-200 hover:text-emerald-600">Contact</a></li>
                <li><a href="#" class="text-sm font-semibold text-emerald-200 hover:text-emerald-600">Privacy policy</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
