{% extends "tracker/layout.html" %}
{% load static %}

{% block body %}

<div class="container" id="home">
  <!-- <h2>home</h2> -->
  <div id="account_container_home" class="row">

    <div class="col-sm-3 mb-3 mb-sm-0 p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Balance</h5>
          <p class="card-text" id="balance_home"></p>
          <button class="btn btn-primary btn-sm" id="accounts_button">Go to accounts</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly income</h5>
          <p class="card-text" id="monthly_income_home"></p>
          <button class="btn btn-primary btn-sm" id="incomes_button">Go to incomes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly expense</h5>
          <p class="card-text" id="monthly_expense_home"></p>
          <button class="btn btn-primary btn-sm" id="expenses_button">Go to expenses</button>
        </div>
      </div>
    </div>

  </div>

  {% if user.is_authenticated %}
  <button class="btn btn-primary btn-sm" id="add_transaction_button">Add transaction</button>
  <button class="btn btn-primary btn-sm" id="add_category_button">Add category</button>
  {% endif %}

  <form id="form_transaction">
    <div class="input-group border p-2 mt-2">
      <select id="transaction_type_value" class="form-control">
        <option selected>Transaction</option>
        <option value="Income">Income</option>
        <option value="Expense">Expense</option>
      </select>
      <input hidden disabled class="form-control" value={{user.username}}>
      <select id="transaction_category_value" class="form-control">
        <option selected>Category</option>
      </select>
      <input id="transaction_title_value" class="form-control" type="text" placeholder="Title of transaction">
      <input id="transaction_amount_value" class="form-control" type="number" step="0.01" value="0.00"
        placeholder="0.00">
      <select id="transaction_currency_value" class="form-control">
        <option selected>Currency</option>
        <!-- <option value="USD">USD</option> -->
        <option value="EUR">EUR</option>
        <!-- <option value="UAH">UAH</option> -->
      </select>
      <select id="transaction_account_value" class="form-control">
        <option selected>Select account</option>
      </select>
      <input type="datetime-local" name="name" id="transaction_date_value">
      <br>
    </div>
    <input id="transaction_save_end_exit" class="btn btn-primary btn-sm mt-3" type="button" value="Save transaction">
    <input id="transaction_save_end_add" class="btn btn-primary btn-sm mt-3" type="button"
      value="Save and add new transaction">
  </form>





  <form id="form_category">
    <div class="input-group border p-2 mt-2">
      <input hidden disabled class="form-control" value={{user.username}}>
      <input id="category_title_value" class="form-control" type="text" placeholder="Title of category">

      <select id="category_type_value" class="form-control">
        <option selected>Choose Type</option>
        <option value="Income">Income</option>
        <option value="Expense">Expense</option>
      </select>
      <label for="category_color_value" class="form-control">Color</label>
      <input id="category_color_value" type="color" class="form-control">

    </div>
    <br>
    <input id="category_save_end_exit" class="btn btn-primary btn-sm" type="button" value="Save category">
    <input id="category_save_end_add" class="btn btn-primary btn-sm" type="button" value="Add new">
  </form>

  {% if user.is_authenticated %}
  <div class="row m-0">
    <div class="card mt-3" class="col">
      <div id="transaction_container_home" class="card-body">
        <h5 class="card-title">History of the transaction</h5>
        <p class="card-text">transaction 1</p>
      </div>
    </div>

    <div id="myChart_id" class="col mt-3" style="min-width: 320px;">
      <canvas  id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      let myChart_income_and_expense;
    
      function chart_income_and_expense() {
        
        fetch(`/chart_income_and_expense`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
    
            if (data.message == "Empty lists") {
              document.querySelector("#myChart").style.display = 'none';
            } else {
              const labels_income = data.labels;
              const data_income = data.data;
              const labels_expense = data.labels_expense;
              const data_expense = data.data_expense;
    
              if (myChart_income_and_expense) {
                myChart_income_and_expense.destroy();
              }
    
              let ctx_ei = document.querySelector('#myChart');
    
              myChart_income_and_expense = new Chart(ctx_ei, {
                type: 'bar',
                data: {
                  labels: labels_income,
                  datasets: [{
                    label: 'income EUR per day',
                    data: data_income,
                    borderWidth: 1
                  }, {
                    label: 'expense EUR per day',
                    data: data_expense,
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                },
              });
            }
          })
      }
    </script>
    


  </div>
  {% endif %}
</div>


<div class="container" id="history">
  <h2>History of the transaction</h2>
  <div class="card mt-3">
    <div id="transaction_container_history" class="card-body" style="height: 400px;">
      <h5 class="card-title">History of the transaction</h5>
    </div>
  </div>
  <div class="row justify-content-center" class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary btn-sm" id="previous">Previous</button>
    <button class="btn btn-primary btn-sm" id="page">Page</button>
    <button class="btn btn-primary btn-sm" id="next">Next</button>
  </div>
</div>


<div class="container" id="accounts">
  <h2>Your accounts</h2>

  <div id="account_container" class="row">
  </div>

  <button class="btn btn-primary btn-sm m-1" id="add_account_button">Add account</button>
  <button class="btn btn-primary btn-sm m-1" id="edit_account_button">Edit account</button>
  <button class="btn btn-primary btn-sm m-1" id="delete_account_button">Delete account</button>

  <form id="form_account">
    <div class="input-group border p-2 mt-2">
      <input hidden disabled class="form-control" value={{user.username}}>
      <input id="account_title_value" class="form-control" type="text" placeholder="Title of account">
      <input id="account_amount_value" class="form-control" type="number" step="0.01" value="0.00" placeholder="0.00">
      <select id="account_currency_value" class="form-control">
        <option selected>Currency</option>
        <!-- <option value="USD">USD</option> -->
        <option value="EUR">EUR</option>
        <!-- <option value="UAH">UAH</option> -->
      </select>
    </div>
    <div class="pt-3">
      <input id="account_save_end_exit" class="btn btn-primary btn-sm" type="button" value="Save account">
      <input id="account_save_end_add" class="btn btn-primary btn-sm" type="button" value="Add new">
    </div>
  </form>

  <form id="edit_form_account">
    <div class="input-group border p-2 mt-2">
      <input hidden disabled class="form-control" value={{user.username}}>
      <select id="account_edit_value" class="form-control">
        <option selected>Select account</option>
      </select>
      <input id="edit_account_title_value" class="form-control" type="text" placeholder="NEW title of account">
      <input id="edit_account_amount_value" class="form-control" type="number" step="0.01" value="0.00"
        placeholder="0.00">
      <select id="edit_account_currency_value" class="form-control">
        <option selected>Currency</option>
        <!-- <option value="USD">USD</option> -->
        <option value="EUR">EUR</option>
        <!-- <option value="UAH">UAH</option> -->
      </select>
      
    </div>
    <div class="pt-3">
      <input id="account_edit_end_save" class="btn btn-primary btn-sm" type="button" value="Save account">
    </div>
  </form>

  <form id="delete_form_account">
    <div class="input-group border p-2 mt-2">
      <input hidden disabled class="form-control" value={{user.username}}>
      <select id="account_delete_value" class="form-control">
        <option selected>Select account</option>
      </select>
      <input id="delete_account_title_value" class="form-control" type="text" placeholder="Title of account">
      <input id="delete_account_amount_value" class="form-control" type="number" step="0.01" value="0.00"
        placeholder="0.00">
      <select id="delete_account_currency_value" class="form-control">
        <option selected>Currency</option>
        <!-- <option value="USD">USD</option> -->
        <option value="EUR">EUR</option>
        <!-- <option value="UAH">UAH</option> -->
      </select>
      
    </div>
    <div class="pt-3">
      <input id="account_delete" class="btn btn-primary btn-sm" type="button" value="Delete">
    </div>
  </form>

  <div class="row justify-content-end">

    <!-- <div class="col"></div> -->

    <div class="col" style="min-width: 280px; max-width: 320px;">
      <canvas id="myChart_accounts"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      let myChart_accounts_new;
      function chart_account() {
        
        fetch(`/chart_account`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.message == "Empty lists") {
              document.querySelector("#myChart_accounts").style.display = 'none'
            } else {
            let labels_account = data.labels
            let data_account = data.data

            if (myChart_accounts_new) {
              myChart_accounts_new.destroy();
              }

            let ctx_a = document.getElementById('myChart_accounts');
            
            myChart_accounts_new = new Chart(ctx_a, {
              type: 'pie',
              data: {
                labels: labels_account,
                datasets: [{
                  label: 'EUR per day',
                  data: data_account,
                  borderWidth: 1
                }]
              },

            });
          }
          })
      }

    </script>
  </div>
</div>

<div class="container" id="incomes">
  <h2>Income</h2>

  <div class="row">

    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mounthly income</h5>
          <p class="card-text" id="monthly_income_incomes"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Previous income</h5>
          <p class="card-text" id="previous_monthly_income_incomes"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Avarage income</h5>
          <p class="card-text" id="avarage_income_incomes"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Yearly income</h5>
          <p class="card-text" id="yearly_income_incomes"></p>
        </div>
      </div>
    </div>

  </div>

  <div class="row m-0">
    <div class="card mt-3" class="col">
      <div id="transaction_container_incomes" class="card-body">
        <h5 class="card-title">History of the income transaction</h5>
      </div>
    </div>




    <div class="col" style="min-width: 320px;">
      <canvas id="myChart_incomes"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      let myChart_incomes_new
      function chart_income() {
        fetch(`/chart_income`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.message == "Empty lists") {
              document.querySelector("#myChart_incomes").style.display = 'none'
            } else {
            labels_income = data.labels
            data_income = data.data

            if (myChart_incomes_new) {
              myChart_incomes_new.destroy();
              }

            const ctx_in = document.getElementById('myChart_incomes');
            console.log(ctx_in)
            myChart_incomes_new = new Chart(ctx_in, {
              type: 'bar',
              data: {
                labels: labels_income,
                datasets: [{
                  label: 'EUR per day',
                  data: data_income,
                  borderWidth: 1,

                }]

              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }

            });
          }
            // myChart_incomes_new.destroy();
          })
      }
    </script>

  </div>

</div>

<div class="container" id="expenses">
  <h2>Expense</h2>

  <div class="row">

    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mounthly expense</h5>
          <p class="card-text" id="monthly_expense_expenses"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Previous expense</h5>
          <p class="card-text" id="previous_monthly_expense_expenses"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Avarage expense</h5>
          <p class="card-text" id="avarage_expense_expenses"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Yearly expense</h5>
          <p class="card-text" id="yearly_expense_expenses"></p>
        </div>
      </div>
    </div>

  </div>

  <div class="row m-0">
    <div class="card mt-3" class="col">
      <div id="transaction_container_expenses" class="card-body">
        <h5 class="card-title">History of the expenses transaction</h5>
      </div>
    </div>

    <div class="col" style="min-width: 320px;">
      <canvas id="myChart_expenses"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      let myChart_expenses_new
      function chart_expense() {
        fetch(`/chart_expense`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.message == "Empty lists") {
              document.querySelector("#myChart_expenses").style.display = 'none'
            } else {
            console.log(data);
            labels_expense = data.labels
            data_expense = data.data

            if (myChart_expenses_new) {
              myChart_expenses_new.destroy();
              } 
            const ctx_ex = document.getElementById('myChart_expenses');
            console.log(ctx_ex)
            myChart_expenses_new = new Chart(ctx_ex, {
              type: 'bar',
              data: {
                labels: labels_expense,
                datasets: [{
                  label: 'EUR per day',
                  data: data_expense,
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
            }
            // myChart_expenses_new.destroy();
          })
      }
    </script>

  </div>

</div>


<div class="container" id="setting">
  <h2>Your Profile</h2>

    <div class="pt-3">
      <p>Your username: <strong> {{user.username}} </strong></p>
    </div>

    <div>
      <p>Your emil: <strong>{{       user.email}}</strong></p>
    </div>
</div>

    <!-- <div class="col">
      <input id="edit_email_button" class="btn btn-primary btn-sm" type="button" value="Edit email">
    </div> -->

  <!-- <form action="" method="post" class="border p-2">
    {% csrf_token %}
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="{{user.email}}">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <input class="btn btn-primary btn-sm" type="submit" value="Change">
  </form> -->

{% endblock %}

{% block script %}
<script src="{% static 'tracker/index.js' %}"></script>
{% endblock %}